*.rsuser
*.suo
*.user
*.userosscache
*.sln.docstates

.vs/
bin/
obj/
logs/

# NUnit
*.VisualState.xml
TestResult.xml
nunit-*.xml

# .NET Core
project.lock.json
project.fragment.lock.json
artifacts/


# ASP.NET Scaffolding
ScaffoldingReadMe.txt



https://localhost:7051/Ordenes?Filtros.Cliente=&Filtros.FechaInicio=&__Invariant=Filtros.FechaInicio&Filtros.FechaFin=&__Invariant=Filtros.FechaFin&Filtros.Pagina=1&Filtros.TamanoPagina=10&Filtros.OrdenarPor=FechaCreacion&Filtros.OrdenarDireccion=DESC